[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/home/by/.firefox/firefox-bin %u
Name=Firefox
Comment=Firefox için özel tanım
